# Machine
*/libs/versions.json

# IntelliJ
/out/
.idea/
.target/
target/
*.iml
*.ipr
*.iws
run/

# Eclipse
.classpath
.project
.settings/

# Visual Studio Code
.vscode/

# NetBeans
nbproject/
nb-configuration.xml
nbactions.xml

# BlueJ
*.ctxt

# Gradle
.gradle/
build/
**/bin/
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file
!gradle-wrapper.jar

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Compiled class files
*.class

# Log files
*.log

# Other files
*~
hs_err_pid*
.DS_Store
.AppleDouble
.LSOverride
.nfs*
.Trash-*
.fuse_hidden*
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml
