# Disables lombok val and var features
lombok.val.flagUsage = error
lombok.var.flagUsage = error

# Disables other lombok features banned in the project
lombok.extensionMethod.flagUsage = error
lombok.fieldDefaults.flagUsage = error
lombok.utilityClass.flagUsage = error
lombok.helper.flagUsage = error
lombok.cleanup.flagUsage = error

# Jetbrains @Nullable and @NotNull lombok compatibility
lombok.addNullAnnotations = jetbrains

# Guava for null checks
lombok.nonNull.exceptionType = Guava